<div class="copyrights">
    <div class="container">
        <div class="footer-distributed">
            <div class="footer-left">
                <p class="footer-links">
                    <a href="#home">AnaSayfa</a>
                    <a href="#services">Blog</a>
                    <a href="#">Abonelik</a>
                    <a href="#about">Hakkımda</a>
                    <a href="#">SSS</a>
                    <a href="#contact">İletişim</a>
                </p>
                <p class="footer-company-name">
                    Tüm Hakları Satın Alınmıştır. &copy; 2018 <a href="#">Mehmet</a> Design By :
                    <a href="https://html.design/">Mehmet Polat</a>
                </p>
            </div>
        </div>
    </div><!-- end container -->
</div>
