
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>İstatiskiler</h2>
<div class="alert alert-danger">Kategori Sayısı :@ViewBag.categorysayisi</div>
<br />
<div class="alert alert-danger">Proje Sayısı :@ViewBag.projesayisi</div>
<!-- diğer tabloların sayılarını ekle casei -->