@model AcunMedyaAkademiPortfolyo.Models.TblAbout
@{
    ViewBag.Title = "UpdateAbout";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Hakkımda Güncelleme</h2>

<form method="post">
    <label>About Id</label>
    <input type="text" class="table table-bordered" value="@Model.AboutID" name="AboutID" readonly />
    <br />
    <label>Hakkımda Başlığı</label>
    <input type="text" class="table table-bordered" value="@Model.Title" name="Title" />
    <br />
    <label>Hakkımda Açıklaması</label>
    @Html.TextBoxFor(x => x.Description, new { @class = "table table-bordered" })
    <br />
    <label>Hakkımda Resim Yolu</label>
    @Html.TextBoxFor(x => x.ImageUrl, new { @class = "table table-bordered" })
    <br />
    <button class="btn btn-success">Hakkımda Güncelleme</button>
</form>
